<div class="container">
 <%= render 'shared/navbar' %>
<div class="slide">
<h1>Profile</h1>

<a href="/water_ft_calculators/new" class="button1" style="background-color:#2979FF">Calculate your Water Footprint</a>
</div>
</div>
