<div class="container">
 <%= render 'shared/navbar' %>

<div class="container2">
<h1>Welcome!</h1>
<%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

<a href="/water_ft_calculators/new" id="button1">Calculate your Water Footprint</a>
<a href="/plays/new" id="button1">Play now</a>
</div>
</div>

