.container2 {
  padding-top: 80px;
  // flex: 1;
  display: flex;
  // align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: scroll;
  position: relative;
  h1 {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .25em;
    color: #00bcc2;
  }
}

