* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden !important;
}

html, body {
  height: 100%;
}

body {
  // display: flex;
  //  position: relative;
  // align-items: center;
  // justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: white;
  // overflow: hidden;
  // height: 100vh;
  // width: 100vw;
}

.container-wave {
  position: fixed;
  width: 100vw;
  top: 15vh;
  bottom: 0;
  > div {
    position: relative;
    height: 100%;
  }
}



.water-container {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    height: 110%;
}

 img.water {
   position: absolute;
   top: 0;

  @media (max-height: 812px) {
    top: 0;
  }

   @media (max-height: 667px) {
    top: 0;
  }

 }

 .water-1, .water-3 {
   animation: slowflow 15s linear infinite;
 }

 .water-2, .water-4 {
   transform: translateX(-60%);
   animation: highflow 15s linear infinite;
 }


@keyframes slowflow {
 0% {
   transform: translateX(-60%);
 }

 50% {
   transform: translateX(0);
 }

 100% {
   transform: translateX(-60%);
 }
}

@keyframes highflow {
 0% {
   transform: translateX(0);
 }

 50% {
   transform: translateX(-60%);
 }

 100% {
   transform: translateX(0);
 }
}
