.container-big {
  align-content: space-between;
}
.container-top {
  display: flex;
  // margin-top:20px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  > img {
    position: relative;
    z-index: 100;
  }
  > div {
    margin-top: 10px;
  }
}

.question {
  input[type="radio"] {
    display: none;
  }
  label {
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    display: block;
    position: relative;
  }
  label:hover {
    cursor:pointer;
    background-color:#EEE;
  }
  input[type="radio"]:checked + label {
    background-color: white;
    color: #888;
  }
}

.bottom-container {
  display: flex;
  align-items: flex-end;
  flex-direction:row
}

.question {
  overflow-y: scroll;
}

.right-top-box-timer-score {
  margin: 0px 8px 0px 8px;
}

.form-check {
  padding: 0;
}

// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }

// {
//     background-size: 500%;s
//     background-position: 10% 41%;
//     position: relative;
//     margin-top: 70px;
// }

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
    position: relative;
    background-color: white;
}

// Waiting list

#title{
    margin: 20px 0 20px 0;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: .25em;
    color: #00bcc2;
  }

.list-players {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px #979797;
}

#number-players {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px #979797;
}

.container .each-player {
    width: 100%;
    background: white;
    margin-bottom: 8px;
    padding: 8px 16px;
    border: none;
    box-shadow: 0.7px 0.7px #979797;
}

.each-player {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .10em;
    color: #00bcc2;
}

.button-launch-game {
    margin-top: 30px;
    margin-left: 25px;
    font-size: larger;
    font-weight: bold;
    background: linear-gradient(-5deg, #02c1c5, #02c1c5);
    border-radius: 2px;
    width: 300px;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    transition: 0.3s;
    display: inline-block;
    text-shadow: 0.7px 0.7px #979797;
    margin-bottom: 20px;
}
