.container-big {
  align-content: space-between;
}
.container-top {
  display: flex;
  align-items: flex-start;
}

.left-top-box-waterfootprint {
  flex-direction:row
}

.right-top-box-timerscore {
  flex-direction: row-reverse
}


question-container

.bottom-container {
  display: flex;
  align-items: flex-end;
  flex-direction:row
}


// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }

// {
//     background-size: 500%;s
//     background-position: 10% 41%;
//     position: relative;
//     margin-top: 70px;
// }

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
    position: relative;
    background-color: white;
}
