.Players-ranking {
    position: absolute;
    width: 400px;
    height: 850px;
    margin-top: 200px;
    text-align: center;
    display:none;
}

.bubbles {
  display: flex;
  flex-direction: column;
  // background-image: url(../images/bubbles_image.png);
}

.bubble1 {
    background-color: black;
    border: 1px solid #979797;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.bubble2 {
    background-color: black;
    border: 1px solid #979797;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


