.container-big {
  align-content: space-between;
}
.container-top {
  display: flex;
  margin-top:20px;
}


.question {
  input[type="radio"] {
    display: none;
  }
  label {
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    margin-top: 10px;
    display: block;
    position: relative;
  }
  label:hover {
    cursor:pointer;
    background-color:#EEE;
  }
  input[type="radio"]:checked + label {
    background-color: white;
    color: #888;
  }
}


.bottom-container {
  display: flex;
  align-items: flex-end;
  flex-direction:row
}

.question {
  overflow-y: scroll;
}

.right-top-box-timer-score {
  margin: 0px 8px 0px 8px;
}

.form-check {
  padding: 0;
}

// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-gap: 16px;
// }

// {
//     background-size: 500%;s
//     background-position: 10% 41%;
//     position: relative;
//     margin-top: 70px;
// }

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-category {
    position: relative;
    background-color: white;
}
