.ranking-page {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.table th {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size:16px;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: white;
  text-shadow: 1px 1px #979797;
}

.table td {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px #979797;
}

#players-ranking h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .10em;
  color: white;
  text-shadow: 1px 1px #979797;
  position: relative;
  margin-top: 100px;
}

.my-custom-scrollbar {
position: relative;
height: 309px;
overflow: auto;
overflow: auto !important;
}
.table-wrapper-scroll-y {
display: block;
}


.drop-b-happy-ranking img
{
height: 20%;
}

.drop-b-sad-ranking img
{
height: 20%;
}

