.drop-b-happy {
  z-index: 1000;
}

.drop-b-sad {
  z-index: 1000;
}

.table th {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size:16px;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: white;
  text-shadow: 1px 1px #979797;
}

.table td {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px #979797;
}

#players-ranking h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .10em;
  color: white;
  text-shadow: 1px 1px #979797;
}
