
.signup{
  position:relative;
  top:-33px;
}

.signup_title{
color:white;
font-size: x-large;
text-shadow: 0.7px 0.7px #979797;
}

.signup-btn {
margin-top:30px;
font-size:larger;
font-weight:bold;
background-color:   #DC143C;
border-radius:4px;
border: none;
color: white;
padding: 12px 25px;
text-align: center;
font-size: 16px;
margin-top: 10px;
margin-left: 60px;
transition: 0.3s;
display: inline-block;
text-shadow: 0.7px 0.7px #979797;
}





