<body>

<div class=Players-ranking>

  <div class=bubbles>

    <div class=Bubble1>
<!--       @play.score.first.current_user.avatar <%  %>
 -->    </div>

    <div class=Bubble2>
<!--       @play.score.first <%  %>
 -->    </div>

  </div>

      <%= link_to 'Play again', profile_path(@play), class: 'button' %>

<!--     <button type="button" id="button1" > -->
<!--       Play again
    </button> -->

</div>

</body>
