<p>Winner !</p>

<svg width="319px" height="564px" viewBox="0 0 319 564" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Mobile-Copy-2" transform="translate(-27.000000, -116.000000)">
            <g id="Group" transform="translate(27.000000, 109.000000)">
                <text id="WINNER!" font-family="CenturyGothic-Bold, Century Gothic" font-size="30" font-weight="bold" fill="#FFFFFF">
                    <tspan x="0" y="30">WINNER!</tspan>
                </text>
                <ellipse id="Oval-Copy-2" stroke="#979797" fill="#FCFAFA" cx="145" cy="354" rx="61" ry="58"></ellipse>
                <circle id="Oval-Copy" stroke="#979797" fill="#FCFAFA" cx="232.5" cy="248.5" r="85.5"></circle>
                <circle id="Oval" stroke="#979797" fill="#FCFAFA" cx="133.5" cy="115.5" r="100.5"></circle>
                <circle id="Oval-Copy-3" stroke="#979797" fill="#FCFAFA" cx="284.5" cy="313.5" r="25.5"></circle>
                <circle id="Oval-Copy-7" stroke="#979797" fill="#FCFAFA" cx="256.5" cy="337.5" r="25.5"></circle>
                <circle id="Oval-Copy-4" stroke="#979797" fill="#FCFAFA" cx="42.5" cy="186.5" r="25.5"></circle>
                <text id="1" font-family="CenturyGothic-Bold, Century Gothic" font-size="30" font-weight="bold" fill="#131212">
                    <tspan x="34" y="198">1</tspan>
                </text>
                <text id="2" font-family="CenturyGothic-Bold, Century Gothic" font-size="30" font-weight="bold" fill="#131212">
                    <tspan x="248" y="348">2</tspan>
                </text>
                <circle id="Oval-Copy-5" stroke="#979797" fill="#FCFAFA" cx="166.5" cy="409.5" r="25.5"></circle>
                <circle id="Oval-Copy-9" stroke="#979797" fill="#FCFAFA" cx="254.5" cy="443.5" r="25.5"></circle>
                <circle id="Oval-Copy-14" stroke="#979797" fill="#FCFAFA" cx="279.5" cy="408.5" r="25.5"></circle>
                <circle id="Oval-Copy-10" stroke="#979797" fill="#FCFAFA" cx="161.5" cy="510.5" r="25.5"></circle>
                <circle id="Oval-Copy-13" stroke="#979797" fill="#FCFAFA" cx="63.5" cy="489.5" r="25.5"></circle>
                <circle id="Oval-Copy-11" stroke="#979797" fill="#FCFAFA" cx="202.5" cy="530.5" r="25.5"></circle>
                <circle id="Oval-Copy-12" stroke="#979797" fill="#FCFAFA" cx="166.5" cy="544.5" r="25.5"></circle>
                <circle id="Oval-Copy-8" stroke="#979797" fill="#FCFAFA" cx="110.5" cy="407.5" r="25.5"></circle>
                <circle id="Oval-Copy-6" stroke="#979797" fill="#FCFAFA" cx="138.5" cy="429.5" r="25.5"></circle>
            </g>
        </g>
    </g>
</svg>
