<div class="Players-ranking">

  <div
    class="bubbles"
    style="background-image: url(<%= image_path 'bubbles_image.png' %>)"
  >
    <div
      class="bubble1"
    >
      <div>
        <%= @play.first.user.pseudo %>
      </div>

    </div>

    <div class="bubble2">
      <%= @play.first.score %>
    </div>

  </div>

  <%= link_to 'Play again', profile_path(@play), class: 'button' %>

<!--     <button type="button" id="button1" > -->
<!--       Play again
    </button> -->

</div>
