<!-- <h1>WaterFtCalculators#new</h1>
<p>Find me in app/views/water_ft_calculators/new.html.erb</p> -->


<div class="water_ft_calculators">
  <div class="container">

    <h1 class="title-ft-calculators">Calculate your personnal water footprint !</h1>
      <p>92% of the Global Water Consumption is used in food production. This is the Virtual Water we EAT !</p>
      <p>How much water do you eat ?</p>
  </div>
</div>


<!--
</html>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div> -->
