
  <div class="onboarding">
    <div class="slider">
      <div class="slide">
        <h1>CAPTAIN WATER</h1>
        <%= image_tag "Orion_water.svg", class:"img chat-bubbles" %>
        <p>Earth </br>70% water </br>97,2% unavalaible</br>within the 2,8% left</br>0,65% usable</br>but 0,62% underground</p>
      </div>
      <div class="slide">
        <h1>WATER STRESS</h1>
         <%= image_tag "Orion_water-droplet.svg", class:"img swords" %>
        <p>water ressources remain constant but human needs continue to rise consumption increases 2X faster than population growth polution & global warming reduce water availability</p>
      </div>
      <div class="slide">
        <h1>WATER CRISIS</h1>
        <%= image_tag "Orion_water-droplet.svg", class:"img brain-bulb" %>
        <p>2030 global demand will exceed the supply by over 40%, 60% world population will experience water scarcity</p>

      </div>
    </div>
    <div class="controls">
      <form>
        <input type="radio" name="page" checked>
        <label for="page"></label>
        <input type="radio" name="page">
        <label for="page"></label>
        <input type="radio" name="page">
        <label for="page"></label>
      </form>

      <a href="#" class="btn-next">Next</a>
      <a href="/profile" class="btn-next d-none" id="play">Play now</a>
    </div>
    </div>


<div class="toast">View in <a href="https://codepen.io/enahom99/full/EEgPQP/" target="_blank">Full Page</a></div>


