
  <div class="onboarding">
    <div class="slider">
      <div class="slide">
        <h1>Communicate</h1>
        <%= image_tag "Orion_water.svg", class:"img chat-bubbles" %>
        <p>Communicate with friends using a convenient chat</p>
      </div>
      <div class="slide">
        <h1>Mind Battles</h1>
         <%= image_tag "Orion_water-droplet.svg", class:"img swords" %>
        <p>Fight with other players in daily intellectual battles</p>
      </div>
      <div class="slide">
        <h1>Learn</h1>
        <%= image_tag "Orion_water-droplet.svg", class:"img brain-bulb" %>
        <p>Perform tasks, get cool bonuses, ranks and awards</p>

      </div>
    </div>
    <div class="controls">
      <form>
        <input type="radio" name="page" checked>
        <label for="page"></label>
        <input type="radio" name="page">
        <label for="page"></label>
        <input type="radio" name="page">
        <label for="page"></label>
      </form>

      <a href="#" class="btn-next">Next</a>
      <a href="/profile" class="btn-next d-none" id="play">Play now</a>
    </div>
    </div>


<div class="toast">View in <a href="https://codepen.io/enahom99/full/EEgPQP/" target="_blank">Full Page</a></div>


