
  <div class="onboarding">
    <div class="slider">
      <div class="slide">
        <%= image_tag "LOGO1.png", class:"logo" %>
        <%= image_tag "Orion_water.svg", class:"img chat-bubbles" %>
        <p><b>EARTH 70% water</b></p>
        <p>
          97,2% unavalaible</br>
          within the 2,8% left</br>
          0,65% usable</br>
          but 0,62% underground
        </p>
      </div>
      <div class="slide">
        <h1>WATER STRESS</h1>
        <%= image_tag "water-double.svg", class:"img swords" %>
        <p>
          Water resources remain constant
        </p>
        <p>
          but:
        </p>
        <p>
          Human needs continue to rise.
        </p>
        <p>
          Consumption increases 2X faster than population growth.
        </p>
        <p>
          Polution & global warming reduce water availability.
        </p>
      </div>
      <div class="slide">
        <h1>WATER CRISIS</h1>
        <%= image_tag "Orion_water-droplet.svg", class:"img brain-bulb", id:"img-3" %>
        <p>
          <b>2030</b>
        </p>
        <p>
          Global demand will exceed the supply by over 40%.
        </p>
        <p>
          60% world population will experience water scarcity.
        </p>
      </div>
    </div>
    <div class="controls">
      <form>
        <input type="radio" name="page" checked>
        <label for="page"></label>
        <input type="radio" name="page">
        <label for="page"></label>
        <input type="radio" name="page">
        <label for="page"></label>
      </form>

      <a href="#" class="btn-next">Next</a>
      <a href="/profile" class="btn-next d-none" id="play">Play now</a>
    </div>
    </div>


<div class="toast">View in <a href="https://codepen.io/enahom99/full/EEgPQP/" target="_blank">Full Page</a></div>


