<div class="in-progress button-model">

  <div class="container">
    <h1>You "Eat"</h1>
      <div>
        <h2>3 496 l/day</h2>
        <p>Visible water and hidden water, such as food, cloths and transport.</p>

        <%= link_to 'Go to the game', profile_path, class: 'btn-go-profile', id:'button1'%>
      </div>
  </div>
</div>
