<div class="in-progress button-model">

  <div class="container">
    <h1>You "Eat"</h1>
      <div>
        <h2>9 000 l/day</h2>
        <p>How much water does the parisian use per day ?</p>
        <p>900 L Domestic use, 900 L Products (clothes, electronics, furniture), 2700 L Energy (Gasoline, Electricity), 4500 L Food production (farming, food industry) How much water does the parisian use per day ?</p>



        <%= link_to 'Go to the game', profile_path, class: 'btn-go-profile', id:'button1'%>
      </div>
  </div>
</div>
