<div class="header-title">
  <h1 class="title-ft-calculators text-center">You "Eat"</h1>
  <div class="bg-white"></div>
</div>

<div class="in-progress button-model margin-top-header-title">

  <div class="container", id="water-ft-example">
    <div>
      <h2 class="consumption">9 000 l/ day</h2>
    </div>

        <div class="water-consumption-table">

              <table class="table table-bordered table-striped mb-0">

                <thead>
                  <tr>
                    <th scope="col">Water used by a parisian</th>
                    <th scope="col">l/ day</th>
                  </tr>
                </thead>

                <tbody>

                  <tr>
                    <td>Domestic use</td>
                    <td>900</td>
                  </tr>

                  <tr>
                    <td>Clothes, electronics, furniture</td>
                    <td>900</td>
                  </tr>

                  <tr>
                    <td>Electricity and gasoline</td>
                    <td>2700</td>
                  </tr>

                  <tr>
                    <td>Food</td>
                    <td>4500</td>
                  </tr>

                </tbody>
              </table>

        </div>

      <%= link_to 'Back to the game', profile_path, class: 'btn-go-profile', id:'button-back-game'%>
    </div>
  </div>
</div>

<!-- 900 L Domestic use,
900 L clothes, electronics, furniture),
2700 L Electricity and gasoline
4500 L Food production (farming, food industry) -->

