<div class="in-progress button-model">
  <h1>You "Eat" :</h1>
  <p>3,496 L/day</p>
  <p>Including visible water use and hidden water such as food, wears, transports you use.</p>

  <%= link_to 'Go to the game', profile_path, class: 'btn-go-profile', id:'button1'%>
</div>


