.progressbar{
  counter-reset: step;
  width: 340px;
  display: flex;
  justify-content: space-between;
}
.progressbar li{
  float: left;
  width: 10%;
  position: relative;
  text-align: center;
  list-style: none;
}
.progressbar li{
  content: '';
}
.progressbar li:before{
  content:counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}
.progressbar li:after{
  display: none;
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li.active:before{
  border: 2px solid #3aac5d;
  background: #3aac5d;
  color: white;
}
.progressbar li.active:after{
  display: none;
  background: #3aac5d;
}
.progressbar li.active - li:after{
  display: none;
  background: #3aac5d;
}
.progressbar li.active - li:before{
  display: none;
  border-color: #3aac5d;
  background: #3aac5d;
  color: white
}
.progressbar li:first-child:after{
  display: none;
  content: none;
}
.progressbar li #text {
  display: none;
}
