.hamburger {
  width: 40px;
  border-radius: 50%;
}
.hamburger-large {
  width: 56px;
  border-radius: 50%;
}
.hamburger-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.hamburger-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
