.list-players {
// display: flex;
// align-items: center;
// justify-content: center;
width:130px;
height: 40px;
// display: inline-block;
list-style: none;
position: relative;
}

#title {
  margin: 0px;
}

.btn-launch {
  position:relative;
  color:white;
}
