.modal-body {
  h1 {
    font-weight:900;
    font-size:2.3em;
    text-transform:uppercase;
    color: #fff;
    font-family: "Roboto", sans-serif;
  }

  a {
    padding: 10px;
    width: 100%;
  }

  .inputgame {
    font-family: "Roboto", sans-serif;
  }
}




