.modal-body {
  h1 {
    font-weight:900;
    font-size:2.3em;
    text-transform:uppercase;
    color: #fff;
    font-family: "Roboto", sans-serif;
  }

  a {
    padding: 10px;
    width: 100%;
  }

  .inputgame {
    font-family: "Roboto", sans-serif;
  }
}

.create {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 4px;

}



