.question {
  left:10px;
  right: 10px;
  border-radius:25px;
  top:160px;
  position: absolute;
  padding: 17px;
  color: white;
}

.sp-btn {
display: flex;
align-items: center;
justify-content: center;
width:130px;
height: 40px;
display: inline-block;
}

.sp-btn:active {
border-color:red;
}

.sp-btn:hover {
  color:white;
}
#submit-answer {

}

label:active {
  background-color: grey;
  color: black;
}

.score-question {
  width: 30px;
  height: 30px;
}

.footprint {
  width: 30px;
  height: 30px;
}
