#new_user_answer legend {
  display: none;
}

.score-footprint {
  font-size: 10px;
  font-style: italic;

}

.question {
  left:10px;
  right: 10px;
  border-radius:25px;
  top:160px;
  position: absolute;
  padding: 17px;
  color: white;
}

.sp-btn {
display: flex;
align-items: center;
justify-content: center;
width:130px;
height: 40px;
display: inline-block;
}

.sp-btn:active {
border-color:red;
}

.sp-btn:hover {
  color:white;
}
#submit-answer {

}
.collection_radio_buttons {
 border-style: solid;
border-width: 0px 0px 3px;
background: linear-gradient(160deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.22) 61%);
 box-shadow: 1px 1px #f1f1f1;
 margin-bottom: 20px;
}

label:active {
  background-color: grey;
  color: black;
  box-shadow: 1px 1px #f1f1f1;
}

#score {
  background: url(images/star.svg) no-repeat 50%/15%;
  // margin-top: -12px;
  // height: 63px;
  text-align: center;
  // padding-top: 18px;
  font-size: 20px;
  color: #e50000;
  width: 50px;
  height: 50px;
}

.score-question {
  width: 40px;
  height: 40px;
  background: asset-url('star.svg') no-repeat 50%/15%;
  background-size: cover;
  padding-top: 10px;
  padding-left: 15px;
}

.footprint {
  width: 40px;
  height: 40px;
}

.right-answer {
  color: white !important;
  border-color: green !important;
  background: green !important;
  opacity: 0.9;
}

.other-answer {
  background: transparent !important;
  color: white !important;
}

.user_answer_answer {
  margin-top: 15px;
}

.question > div:first-child {
 text-align: center;
 font-weight: bolder;
}

